<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <httpHandlers>
      <add verb="POST" path="loginfromportal.aspx" type="RequestHandler.RequestHandler.GoldRequestHandler, RequestHandler"/>
    </httpHandlers>
    <compilation targetFramework="4.5" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    
    <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
    <!-- 100 MB in kilobytes 102400-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="3600"/>
    <sessionState timeout="300"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Requesthandler" path="loginfromportal.aspx" verb="POST" type="RequestHandler.RequestHandler.GoldRequestHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value=" max-age=31536000;includeSubDomians;preload"/>
        <add name="X-XSS-Protection" value="1;mode=block"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPWA_Service" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IPurchase" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_ICompService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://feebased.manappuram.net/MafilService/PWA_Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPWA_Service" contract="PWA_Service.IPWA_Service" name="BasicHttpBinding_IPWA_Service"/>
      <endpoint address="http://hoapps.manappuram.net/MAFILSERVICES/Purchase.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchase" contract="PurchaseSer.IPurchase" name="BasicHttpBinding_IPurchase"/>
      <endpoint address="http://feebased.manappuram.net/CompService/CompService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompService" contract="CompService.ICompService" name="BasicHttpBinding_ICompService"/>-->
<!--existing-->
      <!--<endpoint address="http://uatapp.manappuram.net/MafilService/PWA_Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPWA_Service" contract="PWA_Service.IPWA_Service" name="BasicHttpBinding_IPWA_Service"/>
      <endpoint address="http://uatapp.manappuram.net/HRM_SERVICE/Purchase.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchase" contract="PurchaseSer.IPurchase" name="BasicHttpBinding_IPurchase"/>
      <endpoint address="http://localhost:62719/CompService.svc?singleWsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompService" contract="CompService.ICompService" name="BasicHttpBinding_ICompService"/>-->



      <endpoint address="http://uatapp.manappuram.net/MafilService/PWA_Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPWA_Service" contract="PWA_Service.IPWA_Service" name="BasicHttpBinding_IPWA_Service"/>
      <endpoint address="http://uatapp.manappuram.net/HRM_SERVICE/Purchase.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchase" contract="PurchaseSer.IPurchase" name="BasicHttpBinding_IPurchase"/>
      <endpoint address="http://uatapp.manappuram.net/CompService/CompService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompService" contract="CompService.ICompService" name="BasicHttpBinding_ICompService"/>



    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".odt"/>
      <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text"/>
      <remove fileExtension=".ods"/>
      <mimeMap fileExtension=".ods" mimeType="application/vnd.oasis.opendocument.spreadsheet"/>
      <remove fileExtension=".odp"/>
      <mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation"/>
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: 9503AE6E-5030-45DC-A51D-FB81CA4568F7-->