@import url("https://fonts.googleapis.com/css?family=PT+Serif");
/*html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'PT Serif', serif;
}*/




#wordCanv {
  display: none;
}

.MyImageButton {
    cursor: hand;
}

.EditFormHeader td {
    font-size: 14px;
    padding: 4px !important;
    color: #0066cc;
}
