
.right {
    float: right;
}

.left {
    float: left;
}

.rating .stars {
    margin-right: 15px;
}

    .rating .stars .star {
        float: left;
        padding: 5px 2px;
        cursor: pointer;
    }

        .rating .stars .star:before {
            font-family: 'FontAwesome';
            content: '\f005';
            color: #5e9cad;
            font-size: 2em;
        }

        .rating .stars .star:hover:before,
        .rating .stars .star.to_rate:before,
        .rating .stars .star.rated:before {
            color: #0c3642;
        }

        .rating .stars .star.no_to_rate:before {
            color: #d0e8f0;
        }


